//site color variables
$body-color: #fff;
$primary-color: #CDA715;
$secondary-color: #33365E;
$tertiary-color: #CDA715;
$text-color: #9D9EA5;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #f3f3f3;
$black: #161616;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Libre Baskerville', serif;
